extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in eleifend dolor. Ut a purus urna. Proin rhoncus justo et efficitur gravida. Nunc semper laoreet odio, non luctus metus maximus in. Quisque molestie quam at urna rhoncus, sed placerat lorem bibendum. In tristique tortor ut nulla bibendum eleifend. Quisque fringilla dui in rhoncus ultrices. Phasellus sed magna tristique, facilisis lacus eget, varius lorem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla ut iaculis dui, sit amet gravida turpis. Quisque eu nisl at velit hendrerit consequat. Praesent imperdiet metus congue purus congue, vitae vestibulum risus facilisis. Maecenas ac aliquam augue, at elementum leo. Nam sit amet dictum turpis. Aenean facilisis, dui in mollis mattis, mauris ipsum viverra dui, ac lacinia elit turpis vitae elit.
                p Aliquam eu imperdiet neque. Fusce vitae mauris elit. Vestibulum porttitor velit eget purus efficitur scelerisque. Maecenas pretium urna vitae consequat auctor. Donec eu tincidunt magna, sed facilisis tellus. Vestibulum suscipit elementum nulla ut porttitor. Proin at orci in augue ornare bibendum ac vel turpis. Nam in sollicitudin augue. Cras eu ligula ullamcorper, lobortis felis sed, tempus ipsum. Curabitur imperdiet at quam ac ultricies. Aliquam commodo ex ex, vel pretium est ultrices sed.
                p Proin auctor dolor sit amet volutpat rhoncus. Nullam malesuada ipsum in facilisis interdum. Suspendisse quis turpis eu tortor euismod mollis. Phasellus lobortis vestibulum interdum. Vivamus molestie mauris sit amet sapien laoreet ullamcorper. Maecenas nunc erat, hendrerit vel vulputate lobortis, blandit a nisi. Phasellus a sapien non tellus condimentum blandit. 
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Vestibulum dolor quam, venenatis at pellentesque vel, elementum laoreet felis. Nulla a orci ornare, rutrum enim in, mattis orci. Quisque aliquam urna imperdiet ex placerat varius. 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Vestibulum dolor quam, venenatis at pellentesque vel, elementum laoreet felis. Nulla a orci ornare, rutrum enim in, mattis orci. Quisque aliquam urna imperdiet ex placerat varius.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Vestibulum dolor quam, venenatis at pellentesque vel, elementum laoreet felis. Nulla a orci ornare, rutrum enim in, mattis orci. Quisque aliquam urna imperdiet ex placerat varius. 