extends ./layout/index

block contenido 
    h1 #{pagina}
    main.container.mt-5 
        include ./layout/bloque_viaje
        //-  debugger para saber que se esta pasando la informacion
        //- p= JSON.stringify(viajes)