extends ./layout/index

block contenido 
    h1.text-center.m-5 #{pagina}
    main.container.mt- 
        include ./layout/bloque_viaje
        //-  debugger para saber que se esta pasando la informacion
        //- p= JSON.stringify(viajes)